<div class="container">
  <div class="row">
    <div class="col-md-12" style="padding:30px 50px 10px 50px;">
        <h4>关于薄荷牙医</h4>
        <p style="letter-spacing:2px;">薄荷牙医是北大口腔和北京口腔优秀牙医为主体的三甲医院口腔医生集团和资深互联网人组成的移动医疗创业团队，旨在解决公立医院挂号难，私营诊所问诊贵的市场痛点，为用户提供专业、优质的口腔医疗服务。轻资产、重运营的创新模式为用户节省了相当一部分成本，让安心看牙不再遥不可及，让优秀的牙医触手可及。
<br /><br />
专业医疗背景客户管理团队诊前充分沟通，让用户的每一次就诊都高效精准，不多浪费用户每一分钟的宝贵时间。排队几小时、等待几小时的看牙体验从薄荷牙医这里彻底消失。诊后专人随访，您看牙的所有疑惑、恐惧和不安我们都会及时解答和处理，牙医时刻在您身边。线上预约、线下就诊，用户账户和医疗资料云存储，终身有效，所有合作门店通用，看牙可以更省心。更有和优秀企业的长期合作，员工看牙更便捷，更优惠。</p>
      </div>
  </div>
<hr>
  <div class="row">
    <div class="col-md-12" style="padding:10px 50px;">
      <h4>创建背景</h4>
      <p style="letter-spacing:2px;">我国每百万人口平均拥有89名牙医，而同为发展中国家且人均GDP相近的巴西，其百万人口平均牙医为870名，差距近10倍。至于国内专科排名第一的北大口腔医院，一号难求，号贩子猖獗的情况更是屡屡见诸报端。
<br /><br />
全国私立口腔诊所将近7万所，北京私立口腔诊所业已突破了1000家，但是，私立医疗机构医生严重短缺，私立口腔医疗机构注册的口腔执业医师不足2万人，平均3～4家私立口腔诊所才有1名有执业资格的口腔医师，而这不足2万的口腔医师临床水平也参差不齐。
<br /><br />
客户基于对私立口腔医疗机构医生临床水平的普遍质疑，于是出现了公立口腔专科医院一号难求，私立口腔诊所门可罗雀的现象并存，粗略推算，私立诊所的诊室和椅位空置率高达80%左右，这是极大的资源浪费。
<br /><br />
国家卫计委《关于印发推进和规范医师多点职业的若干意见的通知》已在年前正式出台，国家政策明确鼓励支持各大医院医师到基层医疗卫生机构多点执业，并在公立医疗机构强推分级诊疗。
<br /><br />
在这一大背景下，薄荷牙医秉持着优质口腔健康管理专家的服务理念,筛选了各大三甲医院口腔科以及口腔专科医院的优秀医生成立口腔医疗领域最大、最优秀的医生集团——薄荷牙医，并开发了同名的客户预约和管理工具『薄荷牙医服务号』。
<br /><br />
薄荷团队通过对私立诊所进行严格的筛查，甄选出硬件和环境都较为优异的诊所合作，租赁空闲椅位，输出整套服务体系，临床质控标准更是高于三甲医院的平均水平，让每一位用户安心看牙、舒心治疗。</p>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-12" style="padding:10px 50px;">
      <h4>合作</h4>
      <p style="letter-spacing:2px;">面向企业：重视员工口腔健康的优秀企业，可在线预约企业上门口腔健康沙龙，活动期间给每一位参加沙龙的客户进行免费的口腔健康检查和建档，并享受对应治疗项目的活动优惠价。长期合作的企业会享有薄荷牙医已经很优惠的治疗价格上的进一步折扣。
<br /><br />
面向诊所：有意合作的诊所，在线提交诊所资质和具体信息，薄荷的运营人员会现场实地核实信息，通过审核后签署合作协议，可就近安排医生和客户。</p>
    </div>
  </div>
<hr>
</div>
