@charset "UTF-8";

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background: #ffffff; color: #333333;font-size: 16px; font-family: 'Hiragino Sans GB', PingFangSC-regular, 'Helvetica Neue', 'Microsoft YaHei', 'WenQuanYi Micro Hei', ' sans-serif';}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
i {font-style:normal;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}
.btn {
  text-align: center !important;
}
a{color: #333;text-decoration: none;}
a:link{
text-decoration:none;
}
button, button:active, button:visited {

outline:none !important;
border: none;

}

button.btn.btn-default.navbar-btn:active {
  background-color: #17ACB2;
  color: #fff;
}
a:visited{
text-decoration:none;
background-color: #fff;
}
a:hover{
text-decoration:none;
color: #17ACB2;
}
a:focus {
  background-color: inherit;
  background-color: #fff;

}
a:active{
text-decoration:none;
}
a.btn.btn-default:focus {
    background-color: #24788b;
    color: #fff;
}
a.shadowBtn.btn.btn-default:focus {
    background-color: #fff;
    color: #24788b;
}

ul,li {
  list-style: none;
  padding: 0;

}
.left {float: left;}
.right {float: right;}
a:hover {
text-decoration:none;
}
h1 {font-size: 55px;}
h2 {font-size: 45px;}
h3 {font-size: 40px;}
h4 {font-size: 25px;}
h5 {font-size: 20px;}

h1,
h2,
h3,
h4,
h5,
h6 {
   /*text-transform: uppercase;*/
   font-family: 'microsoft yahei',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}



p{letter-spacing:1.5px;}

textarea {
resize: none;
}


.center{text-align: center; margin: 0 auto;}
.f-right{float: right;}
.f-left{float: left;}
.t-right{text-align: right;}
.t-left{text-align: left;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.copyrights{
 text-indent:-9999px;
 height:0;
 line-height:0;
 font-size:0;
 overflow:hidden;
}
/* --Line-- */

/*hr.line01,
hr.line02 { margin: 15px auto; padding: 0; max-width: 250px;border: 0; border-top: solid 5px;text-align: center;}

hr.line01:after{content: url(../images/skull1.png);display: inline-block;position: relative;top: -.8em;padding: 0 .25em;font-family: FontAwesome;font-size: 2em;}
hr.line02:after {content: url(../images/skull.png);display: inline-block;position: relative;top: -.8em;padding: 0 .25em;font-family: FontAwesome;font-size: 2em;}

hr.line01 {border-color: #fffff;}
hr.line01:after {color: #fffff;background-color: #E7E7E7;}

hr.line02 {border-color: #FBCC0A;}
hr.line02:after {color: #FBCC0A;background-color: #ffffff;}*/
