<div class="cooperate">
<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h3>合作企业</h3>
    <h3>Cooperative Enterprise</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
  <a href="http://www.uber.com.cn/"><img src="{{ 'assets/img/cooperate/cooperate1.png'|theme }}" class="img-responsive center-block"  alt=""> </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center" >
    <a href="https://www.microsoft.com/zh-cn"><img src="{{ 'assets/img/cooperate/cooperate2.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <a href="https://www.jd.com/"><img src="{{ 'assets/img/cooperate/cooperate3.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <a href="http://www.rongcapital.cn/"><img src="{{ 'assets/img/cooperate/cooperate4.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <a href="http://www.alihealth.cn/"><img src="{{ 'assets/img/cooperate/cooperate5.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <a href="https://bj.daojia.com/"><img src="{{ 'assets/img/cooperate/cooperate6.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center" >
    <a href="https://www.360.cn/"><img src="{{ 'assets/img/cooperate/cooperate7.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <a href="http://didichuxing.com/"><img src="{{ 'assets/img/cooperate/cooperate8.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <a href="https://www.junrongdai.com/"><img src="{{ 'assets/img/cooperate/cooperate9.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <a href="http://36kr.com/"><img src="{{ 'assets/img/cooperate/cooperate10.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <a href="http://bj.leju.com/"><img src="{{ 'assets/img/cooperate/cooperate11.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center" >
    <a href="https://www.chinaums.com/chinaums/"><img src="{{ 'assets/img/cooperate/cooperate12.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <a href="http://www.maxthon.cn/"><img src="{{ 'assets/img/cooperate/cooperate13.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <a href="http://www.daling.com/"><img src="{{ 'assets/img/cooperate/cooperate14.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 text-center">
    <a href="http://www.le.com/"><img src="{{ 'assets/img/cooperate/cooperate15.png'|theme }}" class="img-responsive center-block" alt=""> </a>
  </div>
</div>
</div>
</div>
