<div class="quickYuyue">
  <div class="container">
      <div class="row">
          <div class="yuyueImg">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top:50px">
          <a href="/quickYuyue" style="width: 29%;height: 10%;background-color: rgba(255,255,255,0.02);position: absolute;bottom: 0%;left: 7%;"></a>
          <img src="{{ 'assets/img/quickyuyue.png'|theme }}" class="img-responsive center-block" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
