<!-- {% set lists=posts %} -->



<div id="seviceNav" class="seviceNav">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-12 text-left">
        <div id="categoryArea">

 {% if typeName =='service' %}
 {% set categorylist= theservicecategorylist %}
{% elseif typeName=='viki' %}
 {% set categorylist= thevikicategorylist %}
{% elseif typeName=='doctor' %}
{% set categorylist= thedoctortypelist %}
   {% endif %}
   {% partial 'listPartial/categoryList' categorylist=categorylist %}
         </div>
      </div>
    </div>
    </div>
    </div>
    <div id="updateList">
        {% partial 'listPartial/listPartial' %}

    </div>
