<div class="container" style="padding: 50px 0;padding-bottom:120px;">

<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
  {% if post.photo.path %}

   <img src="{{post.photo.path}}" alt="" class="img-responsive" style="margin-left: 10px">

 {% endif %}
</div>
<div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" style="margin-top: 0;">
  <p style="font-size:24px">{{post.name}}</p>
  <hr>
  <p>擅长领域：{{post.skilledin}}</p>
  <p style="margin-top: 20px;">{{post.introduce}}
</div>
