<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>初筛报告-编辑</title>
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/account.css">
  <link rel="stylesheet" href="../../css/table.css">
  <link rel="stylesheet" href="../../css/user.css">
  <link rel="stylesheet" href="../../css/z_user.css">
  <link rel="stylesheet" type="text/css" href="../../diyUpload/css/diyUpload.css">
  <link rel="stylesheet" href="../../jedate/skin/jedate.css">
  <link rel="shortcut icon" href="../../images/logo.png"/>
  <script src="../../js/jquery-1.8.0.min.js"></script>
  <script type="text/javascript" src="../../diyUpload/js/webuploader.html5only.min.js"></script>
  <script type="text/javascript" src="../../diyUpload/js/diyUpload.js"></script>
  <script src="../../js/Ajax.js"></script>
  <script src="../../jedate/jedate.js"></script>
  <script src="../../js/js.js"></script>
  <script src='../user/vue1.js'></script>
  <script src="../../js/illLibraryEdit.js?time=5"></script>
</head>
<body class="bodycolor" id='app'>
<div class="wrapper1">
  <div class="header">
        <!-- <div class="logo">
          <img src="images/logo2.png" alt="">
          <span>雨点后台</span>
        </div>
        <div class="exit">
          <a href="#" class="exit-but">退出</a>
          <p>欢迎您！<span></span></p>
        </div> -->
  </div>
  <div class="container-wrapper">
    <div class="container-left">
      <h3></h3>
      <ul id="left-list">
        <!-- <li class="cur"><a href="/ydadmin/user.html">用户管理</a></li>
        <li><a href="/ydadmin/html/role.html">角色管理</a></li>
        <li><a href="/ydadmin/html/power.html">权限管理</a></li>
        <li><a href="/ydadmin/html/projectSort.html">项目分类</a></li>
        <li><a href="/ydadmin/html/pool/projectPool.html">项目池</a></li>
        <li><a href="/ydadmin/html/article/article.html">文章管理</a></li>
        <li><a href="/ydadmin/html/comment.html">评论管理</a></li>
        <li><a href="/ydadmin/html/jigou/jigou.html">投资机构</a></li> -->

      </ul>
    </div>
    <div class="container-right">
      <div class="container-right-main">
        <div class="rtop rtop4">
            <div class="but-box bj-none">
              <p>
                <a href="javascript:void(0)" class="back-but" id="back">返回</a>
                <a href="javascript:void(0)" class="save-but" id="send-but" style="display:none">发送</a>
                <span class="sent-but" id="sent" style="display:none">已发送</span>
              </p>
            </div>
        </div><!-- rtop -->
        <div class="add-box-container">
            <div class="user_main_top">
                <div class="time repoter_top">
                    <div class="z_time_btn">
                        <h6>
                          初筛报告单
                          <input type="button" value="保存" class="default_inputbtn z_save_btn" id="save-but">
                        </h6>
                        
                    </div>
                </div>
                <div class="userContain repoter_container" id="">
                    <div class="z_userContainMain">
                      <div class="containb_right" id="">
                        <div class="containb_right_inner">
                          
                          <div class="input_top_floatbox" style="padding-top:0;">
                              <div class="input-box2 personput"> 
                                  <span class="desc_span" style="padding-left:10px">就诊人：</span>
                                  <div class="col-sm-8" id="userInputbox">
                                      <div id="bts-ex-5" class="selectpicker" data-clear="true" data-live="true">
                                        <!-- <a href="#" class="clear"><span class="fa fa-times"></span><span class="sr-only">Cancel the selection</span></a> -->
                                        <button data-id="prov" type="button" class="btn btn-lg btn-block btn-default dropdown-toggle" id="button_id">
                                          <span class="placeholder" id="Valuser" data-val="">请选择</span>
                                          <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu">
                                          <div class="live-filtering" data-clear="true" data-autocomplete="true" data-keys="true">
                                            <label class="sr-only" for="input-bts-ex-5"></label>
                                            <div class="search-box">
                                              <div class="input-group">
                                                <input type="text" placeholder="请输入搜索内容" id="input-bts-ex-5" class="form-control live-search" aria-describedby="search-icon5" tabindex="1" />
                                              </div>
                                            </div>
                                            <div class="list-to-filter">
                                                  <ul class="list-unstyled" id="patient_id">
                                                     <!-- <li class="filter-item items" data-filter="整整" data-value="1">整整</li>
                                                     <li class="filter-item items" data-filter="selina" data-value="2">selina</li>
                                                     <li class="filter-item items" data-filter="aaaa" data-value="3">aaaa</li>
                                                     <li class="filter-item items" data-filter="春晓说" data-value="4">春晓说</li>
                                                     <li class="filter-item items" data-filter="夏天" data-value="5">夏天</li>
                                                     <li class="filter-item items" data-filter="秋天" data-value="5">秋天</li>
                                                     <li class="filter-item items" data-filter="22222" data-value="5">22222</li> -->
                                                  </ul>
                                              <div class="no-search-results">
                                                <div class="alert alert-warning" role="alert"><i class="fa fa-warning margin-right-sm"></i>没有找到 <strong>'<span></span>'</strong>相关数据</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <input type="hidden" name="bts-ex-5" value="">
                                      </div>
                                  </div>
                                  <p class="error PL60"></p>
                                  <p class="desc_tip PL60" id="desc_tip"> </p>
                              </div>
                              <div class="input-box2" style="margin-left:-60px;"> 
                                  <span class="desc_span">就诊时间：</span>
                                  <input type="text" class="text-input layicons" style="width:140px;" id="J-xl" readonly="readonly">
                                  <p class="error PL75"></p>
                              </div>
                              <div class="input-box2"> 
                                  <span class="desc_span">医生：</span>
                                  <div class="col-sm-8" id="DocInputbox" style="width:200px;">
                                      <div id="bts-ex-5" class="selectpicker" data-clear="true" data-live="true">
                                        <!-- <a href="#" class="clear"><span class="fa fa-times"></span><span class="sr-only">Cancel the selection</span></a> -->
                                        <button data-id="prov" type="button" class="btn btn-lg btn-block btn-default dropdown-toggle">
                                          <span class="placeholder" id="DovVal" data-val="">请选择</span>
                                          <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu">
                                          <div class="live-filtering" data-clear="true" data-autocomplete="true" data-keys="true">
                                            <label class="sr-only" for="input-bts-ex-5"></label>
                                            <div class="search-box">
                                              <div class="input-group">
                                                <input type="text" placeholder="请输入搜索内容" id="input-bts-ex-5" class="form-control live-search" aria-describedby="search-icon5" tabindex="1" style="width:165px"/>
                                              </div>
                                            </div>
                                            <div class="list-to-filter">
                                                  <ul class="list-unstyled" id="doctor_id">
                                                      <!-- <li class="filter-item items" data-filter="整整" data-value="1">整整</li>
                                                      <li class="filter-item items" data-filter="selina" data-value="2">selina</li>
                                                      <li class="filter-item items" data-filter="aaaa" data-value="3">aaaa</li>
                                                      <li class="filter-item items" data-filter="春晓说" data-value="4">春晓说</li>
                                                      <li class="filter-item items" data-filter="夏天" data-value="5">夏天</li>
                                                      <li class="filter-item items" data-filter="秋天" data-value="5">秋天</li>
                                                      <li class="filter-item items" data-filter="22222" data-value="5">22222</li>  -->
                                                  </ul>
                                              <div class="no-search-results">
                                                <div class="alert alert-warning" role="alert"><i class="fa fa-warning margin-right-sm"></i>没有找到 <strong>'<span></span>'</strong>相关数据</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <input type="hidden" name="bts-ex-5" value="">
                                      </div>
                                  </div>
                                  <p class="error PL50"></p>
                              </div>
                              <div class="input-box2 zhensuo"> 
                                  <span class="desc_span">诊所：</span>
                                  <div class="col-sm-8" id="ClinkBox" style="width:150px;">
                                      <div id="bts-ex-5" class="selectpicker" data-clear="true" data-live="true">
                                        <!-- <a href="#" class="clear"><span class="fa fa-times"></span><span class="sr-only">Cancel the selection</span></a> -->
                                        <button data-id="prov" style="width:150px;" type="button" class="btn btn-lg btn-block btn-default dropdown-toggle">
                                          <span class="placeholder" id="ClinkVal" data-val="">请选择</span>
                                          <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu">
                                          <div class="live-filtering" data-clear="true" data-autocomplete="true" data-keys="true">
                                            <label class="sr-only" for="input-bts-ex-5"></label>
                                            <div class="search-box">
                                              <div class="input-group">
                                                <input type="text" placeholder="请输入搜索内容" id="input-bts-ex-5" class="form-control live-search" aria-describedby="search-icon5" tabindex="1" style="width: 133px;"/>
                                              </div>
                                            </div>
                                            <div class="list-to-filter">
                                                  <ul class="list-unstyled" id="clinic_id">
                                                    <li class="filter-item items" data-filter="请选择" data-value="">请选择</li>
                                                     <!--  <li class="filter-item items" data-filter="整整整整整整整整" data-value="1">整整整整整整</li>
                                                     <li class="filter-item items" data-filter="selina" data-value="2">selina</li>
                                                     <li class="filter-item items" data-filter="aaaa" data-value="3">aaaa</li>
                                                     <li class="filter-item items" data-filter="春晓说" data-value="4">春晓说</li>
                                                     <li class="filter-item items" data-filter="夏天" data-value="5">夏天</li>
                                                     <li class="filter-item items" data-filter="秋天" data-value="5">秋天</li>
                                                     <li class="filter-item items" data-filter="11" data-value="5">22222</li> -->
                                                  </ul>
                                              <div class="no-search-results">
                                                <div class="alert alert-warning" role="alert"><i class="fa fa-warning margin-right-sm"></i>没有找到 <strong>'<span></span>'</strong>相关数据</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <input type="hidden" name="bts-ex-5" value="">
                                      </div>
                                  </div>
                                  <p class="error PL50"></p>
                              </div>
                              <div class="clear">&nbsp;</div>
                          </div>
                          <div class="contaim_main_floatbox">
                            <!-- 左侧盒子 -->
                            <div class="repoter_left_main">
                              <div class="input-box2">
                                  <span class="desc_span">病历类型：</span>
                                  <div class="radio-box">
                                    <div class="checkBone" id="types">
                                        <span><input type="radio" class="radio1" name="radio_s" id="radios_1" value="1"><label for="radios_1">初筛报告</label></span>
                                        <span><input type="radio" class="radio1" name="radio_s" id="radios_2" value="2"><label for="radios_2">门诊病历</label></span>
                                    </div>
                                    <div class="clear"></div>
                                    <p class="error"></p>
                                  </div>
                                </div>
                                <div class="input-box2">
                                  <span class="desc_span">牙周情况：</span>
                                  <div class="radio-box">
                                    <div class="checkBone" id="tooth_type">
                                        <span><input type="radio" class="radio1" name="radio" id="radio1" value="1"><label for="radio1">早期</label></span>
                                        <span><input type="radio" class="radio1" name="radio" id="radio2" value="2"><label for="radio2">中期</label></span>
                                        <span><input type="radio" class="radio1" name="radio" id="radio3" value="3"><label for="radio3">晚期</label></span>
                                        <span><input type="radio" class="radio1" name="radio" id="radio4" value="4"><label for="radio4">医嘱</label></span>
                                    </div>
                                    <div class="clear"></div>
                                    <p class="error"></p>
                                  </div>
                                </div>
                                <div class="input-box2">
                                  <span class="desc_span">牙列情况：</span>
                                  <div class="radio-box">
                                    <div class="checkBone" id="tooth_square">
                                        <span><input type="radio" class="radio1" name="radios" id="radio5" value="2"><label for="radio5">牙列不齐</label></span>
                                        <span><input type="radio" class="radio1" name="radios" id="radio6" value="1"><label for="radio6">牙列基本整齐</label></span>
                                    </div>
                                    <div class="clear"></div>
                                    <p class="error"></p>
                                  </div>
                                </div>
                                <div class="input-box2"> 
                                    <span class="desc_span">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;诊断：</span>
                                    <textarea class="textarea" style="max-width:325px;" id="record_content"></textarea>
                                    <div class="clear"></div>
                                    <p class="error PL75"></p>
                                </div>
                                <div class="input-box2"> 
                                    <span class="desc_span">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;治疗：</span>
                                    <textarea class="textarea" style="max-width:325px;" id="treatment"></textarea>
                                    <div class="clear"></div>
                                    <p class="error PL75"></p>
                                </div>
                                <div class="input-box2"> 
                                    <span class="desc_span" id="desc_span">综合意见：</span>
                                    <textarea class="textarea" style="max-width:325px;" id="tooth_suggestion"></textarea>
                                    <div class="clear"></div>
                                    <p class="error PL75"></p>
                                </div>
                                <div class="input-box2"> 
                                    <span class="desc_span">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标签：</span>
                                    <div class="z_checkbox_main">
                                        <div class="checkbox-box">
                                            <div class="checkBone2" id="tag_name">
                                                
                                            </div>
                                            <div class="countryInput">
                                              <input type="button" value="添加" class="addCbut">
                                              <em class="Countryhide">
                                                <input type="text" class="cuontryval">
                                                <input type="button" value="完成" class="addCountry">
                                              </em>
                                            </div>
                                            <div class="clear"></div>
                                            <p class="error"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-box2" style="position:relative;padding-top:10px;"> 
                                  <span class="desc_span">上传图片：</span>
                                  <div class="z_checkbox_main" id="upFilesdiv">
                                      <div class="file-main-box" id="tooth_pic">
                                          <!-- <input type="button" value="上传文件" class="but-input"> -->
                                          <div class="upfile-box">
                                              <div id="picUpfile"></div>
                                              <div class="parentFileBox">                         
                                                  <ul class="fileBoxUl">
                                                  </ul>                  
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                    
                                  <div class="clear"></div>
                                  <p class="error PL60"></p>
                              </div>

                            </div><!-- 左侧盒子结束 -->
                            <!-- 右侧盒子 -->
                            <div class="repoter_right_main">
                              <h5 class="tooth_pic_time_top">
                                  <b>牙位图：</b>
                                  <select name="" id="creat_time" style="display:none">
                                  </select>
                                  <span id="time_showbox" style="display:none"></span>
                              </h5>
                              <div class="tooths_pic_main" id="tooth_pic_main" style="display:none">
                                <div class="tooth_box_pic_left">
                                    <span class="round_teeth tooth_{{teeth.name}} {{teeth.content==0?'':'tooth_color'}}" v-for='teeth in data_son.teeth_arr'>{{teeth.name}}</span>
                                </div>
                                <div class="tooth_box_pic_right">
                                  <div class="H_teeth_list">
                                      <dl v-for='item in data_brother'>
                                        <dt>牙齿{{item.name}}：</dt>
                                        <dd>
                                          <span v-for='itemson in item.content'>{{itemson}}</span>
                                          
                                        </dd>
                                      </dl>
                                  </div>
                                </div>
                              </div>
                              
                            </div><!-- 右侧盒子结束 -->
                            <div class="clear"></div>
                          </div>

                        </div>
                      </div>
                        
                    </div>  
                    <div class="clear"></div>
                </div>
                    
            </div>
        </div><!-- add-box-container -->
    </div><!-- container-right-main -->
  </div><!-- container-right -->

</div>
<div class="opacity-tip" style="display:none"><p></p></div>
<div class="opcity-progress"  style="display:none">
    <div class="diyBar">
        <div class="diyProgress"></div>
        <div class="diyProgressText">0%</div>
    </div>
</div>
</body>
</html>